.content{
	width: 100%;
	height: calc(100% - 158upx);
	/* height: 100%; */
	background: #FFFFFF;
	padding-top: 158upx;
	/* #ifdef H5 */
	padding-top: 118upx;
	/* #endif */
	/* #ifdef MP-WEIXIN */
	padding-top: 0;
	/* #endif */
	letter-spacing: 0.5px;
}
.message-title{
	width: 100%;
	height: 78upx;
	display: inline-block;
	padding-top: 80upx;
	
	position: fixed;
	left: 0;
	top: 0;
	/* #ifdef H5 */
	height: 78upx;
	padding-top: 40upx;
	/* #endif */
	background: #FFFFFF;
	
	z-index: 10;
}
.list-scroll-content{
    height:calc(100% - 45upx);
		padding: 45upx 51upx 0 51upx;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		background: #FFFFFF;
}
.user-info-item{
	width: 100%;
	height: 90upx;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	border-bottom:1px solid rgba(114,124,142,0.1);
}
.item-title{
	font-size:14px;
	font-family:Alibaba PuHuiTi;
	font-weight:400;
	line-height:36upx;
	color:rgba(17,23,57,1);
	opacity:1;
}
.item-right{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
.user-avator-small{
	width: 80upx;
	height: 80upx;
	margin-right: 7upx;
}
.question-icon{
	width: 40upx;
	height: 40upx;
}
.user-text{
	font-size:14px;
	font-family:Alibaba PuHuiTi;
	font-weight:400;
	line-height:36upx;
	color:rgba(17,23,57,1);
	opacity:0.3;
	margin-right: 22upx;
}
.user-text2{
	font-size:14px;
	font-family:Alibaba PuHuiTi;
	font-weight:400;
	line-height:36upx;
	color:rgba(17,23,57,1);
	opacity:0.3;
}
.app-qcode{
	width: 100%;
	height: auto;
	margin-top: 72upx;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.qcode-text{
	height:49upx;
	font-size:20px;
	font-family:Alibaba PuHuiTi;
	font-weight:500;
	line-height:49upx;
	color:rgba(244,99,122,1);
	opacity:1;
	margin-bottom: 65upx;
}
.qcode-img{
	width: 325upx;
	height: 325upx;
}

/*设置*/
.log-out{
	width: 350upx;
	height: 100upx;
	border-radius: 50upx;
	text-align: center;
	line-height: 100upx;
	color: #FFFFFF;
	font-size: 14px;
	background: #F4637A;
}
.clear-localstorge{
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background:rgba(0,0,0,0.4);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.tip-block{
	width:543upx;
	height:303upx;
	background:rgba(255,255,255,1);
	box-shadow:0px 18upx 54upx rgba(0,0,0,0.16);
	opacity:1;
	border-radius:36upx;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.title{
	width:100%;
	height:45upx;
	font-size:16px;
	font-family:Alibaba PuHuiTi;
	font-weight:bold;
	line-height:45upx;
	color:rgba(51,51,51,1);
	opacity:1;
	text-align: center;
}
.msg{
	width:100%;
	height:75upx;
	font-size:14px;
	font-family:Alibaba PuHuiTi;
	font-weight:400;
	line-height:75upx;
	color:rgba(107,119,141,1);
	opacity:1;
	border-bottom: 1px solid #E1E4EA;
	text-align: center;
	margin-top: 11upx;
	margin-bottom: 29upx;
}
.commit-btn{
	width: 100%;
	font-size:16px;
	font-family:Alibaba PuHuiTi;
	font-weight:bold;
	line-height:49upx;
	color:rgba(244,99,122,1);
	opacity:1;
	text-align: center;
}
/*关于熊猫优选*/
.about-panda{
	width: 469upx;
	height: 360upx;
}
.panda{
	width: 223upx;
	height: 83upx;
	margin-top: 36upx;
}
/*问题反馈*/
.question-type,.question-detail,.contact{
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	margin-bottom: 36upx;
}

.question-title{
	height:36upx;
	font-size:14px;
	font-family:Alibaba PuHuiTi;
	font-weight:bold;
	line-height:36upx;
	color:rgba(17,23,57,1);
	opacity:1;
	margin-bottom: 22upx;
}
.type-block{
	width:649upx;
	height:129upx;
	background:rgba(240,243,247,1);
	opacity:1;
	border-radius:18upx;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
.type-btn{
	width: 250upx;
	height: 80upx;
	background: #FFFFFF;
	font-size: 14px;
	color:rgba(17,23,57,1);
	box-shadow:0px 9px 36px rgba(0,0,0,0.16);
	text-align: center;
	line-height: 80upx;
	border-radius: 50upx;
}
.type-btn-selected{
	color: #F4637A;
	border: 1px solid #F4637A;
}
.question-desc{
	width:649upx;
	nin-height:312upx;
	height: auto;
	background:rgba(240,243,247,1);
	opacity:1;
	border-radius:18upx;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}
.desc-text{
	width: 600upx;
	height: 200upx;
	font-size: 14px;
	color: #333333;
	margin: 25upx;
}
.img-box{
	width: 600upx;
	height: auto;
}
.pick-img{
	width: 109upx;
	height: 109upx;
	margin-bottom: 36upx;
	margin-top: 11upx;
}
.contact-block{
	width:649upx;
	height:72upx;
	background:rgba(240,243,247,1);
	opacity:1;
	border-radius:18upx;
}
.contact-input{
	width:calc(100% - 38upx);
	padding:0 0 0 38upx;
	height: 72upx;
	font-size: 14px;
	color: #333333;
}
.submit-btn{
	width: 400upx;
	height: 100upx;
	text-align: center;
	line-height: 100upx;
	font-size: 14px;
	color: #FFFFFF;
	border-radius: 50upx;
	background: #F4637A;
	margin: 0 auto;
	margin-top: 36upx;
}
/*修改密码*/
.no-padding{
	padding-left: 0;
	padding-right: 0;
}
.edit-block{
	/* width: calc(100% - 102upx); */
	padding: 45upx 51upx ;
	height: 300upx;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	background: #F0F3F7;
}
.edit-item{
	width: 100%;
	height: 90upx;
	border-bottom: 1px solid rgba(114,124,142,0.1);
}
.input-item{
	width: 100%;
	height: 100%;
	font-size: 14px;
	color: #333333;
}
.edit-pwd-btn{
	width: 400upx;
	height: 100upx;
	text-align: center;
	line-height: 100upx;
	font-size: 14px;
	color: #FFFFFF;
	border-radius: 50upx;
	background: #CCCCCC;
	opacity: 0.8;
	margin: 0 auto;
	margin-top: 72upx;
}